<body>

  <header>
        
    <nav>

        <input type="checkbox" id="ckbox">
        <label for="ckbox" class="drawer">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>

        <h1>VitalMente</h1>

        <ul class="menu-box">

            <div class="drop-down-menu">
                <button class="drop-down-button" [routerLink]="['/home']">Inicio</button>
            </div>

            <div class="drop-down-menu">
                <button class="drop-down-button">Paciente
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="drop-down-menu-content">
                    <a class="nav-link text-dark" [routerLink]="['/personaRegistro']">Registrar paciente</a>
                    <a class="nav-link text-dark" [routerLink]="['/personaConsulta']">consulta paciente</a>
                </div>
            </div>

            <div class="drop-down-menu">
                <button class="drop-down-button">Empleados
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="drop-down-menu-content">
                    <a class="nav-link text-dark" [routerLink]="['/registroEmpleado']">Registrar empleados</a>
                    <a class="nav-link text-dark" [routerLink]="['/consultarEmpleado']">Consultar empleados</a>
                </div>
            </div>

            <div class="drop-down-menu">
                <button class="drop-down-button">Otros
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="drop-down-menu-content">
                  <a class="nav-link text-dark" [routerLink]="['/gestionCitas']">Apartar citas</a>
                  <a class="nav-link text-dark" [routerLink]="['/consultarCitas']">Consultar citas</a>
                  <a class="nav-link text-dark" [routerLink]="['/evaluacion']">Evaluacion</a>
                  <a class="nav-link text-dark" [routerLink]="['/consultarEvaluacion']">Consultar evaluaciones</a>
                  <a class="nav-link text-dark" [routerLink]="['/tratamiento']">Tratamiento</a>
                  <a class="nav-link text-dark" [routerLink]="['/consultarTratamiento']">Consultar Tratamiento</a>
                </div>
            </div>


        </ul>
    </nav>
</header>
</body>


