<body>
  <div id="header">
  
    <ul class="nav">
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
      </li>

      <li>
        <a href="#">Pacientes</a>
          <ul>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/personaRegistro']"
              >Registro Paciente</a
              >
            </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/personaConsulta']"
                >Consultar Paciente.</a
                >
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/gestionCitas']"
                >Apartar citas</a
                >
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/consultarCitas']"
                >Consultar Citas</a
                >
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/evaluacion']"
                >Evaluacion</a
                >
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/tratamiento']"
                >Tratamiento</a
                >
              </li>
          </ul>

      </li>


      <li><a href="#">Empleados</a>
        <ul>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/registroEmpleado']"
            >Registrar Empleado</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/consultarEmpleado']"
            >Consultar Empleado</a
            >
          </li>
        </ul>
      </li>
      <li><a href="">Servicio de ayuda</a></li>
    </ul>
  </div>
</body>


