<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
         <section class="Form-historia">
                    <section class="Form-historiap1">
                        <h2>Historia Clinica</h2>
                        <div class="form-group">
                        <SPan>Fecha:</SPan>
                            <input  type="date" name="fecha"  [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                
                        <div class="form-group">
                        
                            <input type="text" name="Lugar" placeholder=" Lugar" [(ngModel)]="evaluacion.diagnostico" class="form-control" />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="identificacion" placeholder=" Identificacion" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                
                        <div class="form-group">
                        
                            <input type="text" name="Nombre" placeholder=" Nombres" [(ngModel)]="evaluacion.diagnostico" class="form-control" />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="apellido" placeholder=" Apellidos" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="edad" placeholder=" Edad" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                            <span>Estudios</span>
                            <select  name="Estudio" [(ngModel)]="evaluacion.identifiacionPaciente"
                            class="form-control"  > 
                            <option>Primaria</option>
                            <option>basica segundaria</option>
                            <option>Bachiller</option>
                            <option>Universidad culminada</option>
                            
                            </select>
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="origen" placeholder=" Ciudad de origen" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="ocupacion" placeholder=" Ocupacion" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                            <span>Estado civil</span>
                            <select  name="Estudio" [(ngModel)]="evaluacion.identifiacionPaciente"
                            class="form-control"  > 
                            <option>Soltero/0</option>
                            <option>Casado/a</option>
                            <option>Union libre</option>                      
                            </select>
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="religion" placeholder=" Religion" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="NombrePadre" placeholder=" Nombre del padre" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        <div class="form-group">
                        
                            <input  type="text" name="NombreMadre" placeholder=" Nombre de la Madre" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  />
                        </div>
                        
                       
                    </section>
                        <section class="Form-historiap2">
                            <div class="form-groupa">
                                <span>Motivo de la consulta</span>
                            <textarea name="consulta"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupa">
                                <span>Antecedentes del paciente</span>
                                <textarea name="Antecedentes"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupa">
                                <span>Perfil social</span>
                                <textarea name="perfil"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupa">
                                <span>Personalidad</span>
                                <textarea name="personalidad"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupa">
                                <span>Historia Familiar</span>
                                <textarea name="historiaFamiliar"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupb">
                                <h2>Examen Mental</h2>
                                <span>Apariencia general y actitud</span>
                                <select  name="Apariencia" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Estado de conciencia</span>
                                <select  name="conciencia" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                       
                
                        </section>
                        <section class="Form-historiap3">
                            <div class="form-groupb">
                               
                                <span>Estado de ánimo</span>
                                <select  name="animo" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Actividad motora</span>
                                <select  name="motora"  placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Asociación y flujo de ideas y características del lenguaje</span>
                                <select  name="flujoDeIdeas"  placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Contenido de ideas</span>
                                <select  name="contenidodeIdeas" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Sensorium</span>
                                <select  name="Sensorium" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Memoria</span>
                                <select  name="Memoria" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Pensamiento</span>
                                <select  name="Pensamiento" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                               
                                <span>Resultado del examen</span>
                                <select  name="examen" placeholder=" seleccione" [(ngModel)]="evaluacion.identifiacionPaciente"
                                class="form-control"  > 
                                <option>Buena</option>
                                <option>Regular/a</option>
                                <option>intermedia</option> 
                                <option>Mala</option>                      
                                </select>
                            </div>
                            <div class="form-groupb">
                                <span>Diagnostico</span>
                                <textarea name="diagnostico"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                            <div class="form-groupb">
                                <span>Plan de orientación psicológica</span>
                                <textarea name="orientación"  [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>
                        </section>
                        <div class="text-center">
                            <button class="btn btn-secondary" [routerLink]="['/instructivo']">Instructivo</button>
                            <button class="btn btn-primary mr-1" (click)="add()">Register</button>
                            <button class="btn btn-secondary" type="reset">Cancel</button>
                        </div>
                </section>
        </div>
    </div>
</div>
