
.Form-Evaluacion{
    width: 400px;
    background: #0E4BEF;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
 }
 .form-group{
     width: 100%;
     background: #0E4BEF;
     padding: 2px;
     border-radius: 4px;
     margin-bottom: 4px;
     
     font-family: 'calibri';
     font-size: 18px;
 }