<div class="contenedor">

    <h2>Registro de Psicologo</h2>


    <div class="lado-izquierdo">

        <input type="text" name="nombreusuario" placeholder="Nombre de usuario" [(ngModel)]="empleado.nombreUsuario" class="form-control" />
        <input type="text" name="contrasena" placeholder="Contraseña" [(ngModel)]="empleado.contrasena" class="form-control" />

        <select class="form-select" aria-label="Default select example disabled" [(ngModel)]="empleado.tipoDocumento">
            <option selected disabled>Tipo de Documento</option>
            <option value="cedula">Cedula de ciudadania</option>
            <option value="extrangero">Documento extrangero</option>
        </select>
        <input type="text" name="identificacion" placeholder="Identifiacion" [(ngModel)]="empleado.identificacion"
            class="form-control" />
        <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="empleado.nombre" class="form-control" />
        <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="empleado.apellido"
            class="form-control" />
            <p>   Fecha de Nacimiento</p>
        <input type="date" name="fecha" [(ngModel)]="empleado.fechaNacimiento" class="form-control fechanacimiento" />

        <select [(ngModel)]="empleado.sexo" class="form-select" aria-label="Default select example disabled">
            <option selected disabled>Sexo</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>

        

      



    </div>


    <div class="lado-derecho">
        <input type="text" name="telefono" placeholder="Telefono" [(ngModel)]="empleado.telefono"
            class="form-control" />
        <input type="email" name="correo" placeholder="correo" [(ngModel)]="empleado.correo" class="form-control" />
        
        <input type="text" name="Universidad" placeholder="Universidad de egreso" [(ngModel)]="empleado.UniversidadEgreso"
             class="form-control" />
             <label>Especializacion</label>
             <select type="text" name="areaEspecializada" [(ngModel)]="empleado.areaEspecializada" class="form-control">
                 <option>Psicología cognitiva</option>
                 <option>Psicología clínica</option>
                 <option>Neuropsicología</option>
                 <option>Psicología biológica</option>
                 <option>Psicología comparativa o etología</option>
                 <option>Psicología educativa</option>
                 <option>Psicología evolutiva</option>
                 <option>Psicología de la salud</option>
                 <option>Psicología de pareja</option>
                 <option>Psicología de familia</option>
                 <option>Psicología empresarial y organizacional</option>
                 <option>Psicología escolar</option>
                 <option>Psicología gerontológica</option>
                 <option>Sexología</option>
                 <option>Psicología comunitaria</option>
             </select>
        

        


        <input type="text" name="direccion" placeholder="Direccion" [(ngModel)]="empleado.direccion"
            class="form-control" />

    </div>



    <p class="fecha">       Fecha Finalización de Estudios</p>

    <div class="lado-izquierdo2">
      <input type="date" name="fechaestudios" [(ngModel)]="empleado.fechaFinalizacion" class="form-control" />
      
      <input type="text" name="Meses" placeholder="Meses de experiencia" [(ngModel)]="empleado.mesesExperiencia"
             class="form-control" />

    </div>

    <div class="lado-derecho2">
      

    </div>


    <div class="form-group2">


    </div>
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="add()">Registrar Psicologo</button>
    </div>
</div>
