<body>
    <img
    src="https://t1.pb.ltmcdn.com/es/posts/8/6/8/como_aumentar_la_productividad_de_mi_consultorio_psicologico_3868_600.jpg">
    <h2 id="titulo">¿Que es la Psicologia?</h2>
    <div>
        <p>
            La psicología se trata de una ciencia que se encarga de indagar la mente del ser humano y, por consiguiente,
            su conducta, separando objetivamente su estado mental y su comportamiento, de manera que se puedan explicar
            detalladamente cómo es el funcionamiento de esa área cognitiva del cerebro, encontrar el origen de los
            fenómenos mentales que se puedan presentar en el ser humano genéticamente o por motivos ajenos a su voluntad
            y elaborar una serie de elementos o leyes que puedan regularlos. Aunado a esto, la psicología necesita de
            otras ciencias para poder comprender la mentalidad humana.
        </p>
    </div>
    <h2 id="titulo2">¿Cuáles son las cuatro metas de la psicología?</h2>
    <br>
    <div>
        <h3>Los cuatro objetivos principales de la psicología son:</h3>
        <br>
        <h3>1. Describir</h3>
        <br>
        <p>

            Uno de los principales objetivos de la psicología es simplemente describir el comportamiento humano. <br>
            A través de la descripción de la conducta a través de la investigación con seres humanos o con ensayos
            experimentales con otras especies, podemos comprender mejor y tener una mejor perspectiva de lo que se puede
            considerar como normal o anormal.
        </p>
    </div>
    <div>
        <h3>2. Explicar</h3>
        <p>

            Como era de esperar, los psicólogos también están interesados en la explicación del comportamiento, no basta
            con solamente describirlo. <br>

            ¿Por qué las personas se comportan como lo hacen? ¿Qué factores contribuyen al desarrollo, la personalidad,
            el comportamiento social y los problemas de salud mental?
        </p>
    </div>
    <div>
        <h3>3. Predecir</h3>
        <p>

            No sorprende que otra meta de la psicología sea el de realizar predicciones sobre la forma en que pensamos y
            actuamos.
            <br>
            Una vez que hemos entendido más sobre lo que sucede y por qué sucede, podemos usar dicha información para
            realizar predicciones sobre el cuándo, el por qué, y cómo podría volver a ocurrir un comportamiento en el
            futuro.
        </p>
    </div>
    <div>
        <h3>4. Modificar</h3>
        <p>
            
            Finalmente, y quizás lo más importante, la psicología se esfuerza por cambiar, influenciar o controlar el
            comportamiento para poder realizar transformaciones constructivas y duraderas en la vida de las personas.
            <br>
            Teniendo en cuenta el ejemplo anterior, los investigadores podrían tener en cuenta lo que saben acerca de la
            relación entre las puntuaciones en la prueba de aptitud y las tasas de deserción, y emplear dicha
            información para desarrollar programas diseñados para ayudar a los estudiantes a permanecer en la
            institución educativa.
        </p>
    </div>
   
</body>