<body>
    <h2 id="titulo">Psicologia.</h2>  
    <div>
        <p>
            Ciencia que estudia los procesos mentales, las sensaciones, las percepciones y el 
            <br> del ser humano, en relación con el medio ambiente físico y social que lo rodea.
        </p>
    </div>
        <div>
            <p>
                Manera de sentir, de pensar y de comportarse de una persona o una colectividad.
            </p>
        </div>

        <img src="https://t1.pb.ltmcdn.com/es/posts/8/6/8/como_aumentar_la_productividad_de_mi_consultorio_psicologico_3868_600.jpg">
</body>
