
<hr>
<table class="table table-striped" *ngIf='evaluacion && evaluacion.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">identificación Paciente</th>
            <th scope="col">Nombre  </th>
            <th scope="col">Tipo cita</th>
            <th scope="col">Diagnostico</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eva of evaluacion; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ eva.identifiacionPaciente }} </td>
            <td>{{ eva.nombrePaciente }}</td>
            <td>{{eva.tipoCita }}</td>
            <td>{{ eva.diagnostico }}</td>
         
        </tr> 
    </tbody>
</table>
