
<hr>
<table class="table table-striped" *ngIf='tratamientos && tratamientos.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id Pciente</th>
            <th scope="col">Codigo de 3 caracteres</th>
            <th scope="col">descripcion de 3 caracteres</th>
            <th scope="col">codigo de 4 caracteres</th>
            <th scope="col">descripcion de 4 caracteres</th>
            <th scope="col">medicacion</th>
            <th scope="col">Tratamiento a seguir</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tratamiento of tratamientos; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ tratamiento.identificacionPaciente }} </td>
            <td>{{ tratamiento.codigo_3 }}</td>
            <td>{{tratamiento.descripcion_3 }}</td>
            <td>{{ tratamiento.codigo_4 }}</td>
            <td>{{ tratamiento.descripcion_4 }}</td>
            <td>{{ tratamiento.medicacion }}</td>
            <td>{{ tratamiento.tratamientoPaso }}</td>
        </tr> 
    </tbody>
</table>
