
<hr>
<table class="table table-striped" *ngIf='tratamientos && tratamientos.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id Tratamiento</th>
            <th scope="col">identificacion del Paciente  </th>
            <th scope="col">identificacion del Psicologo</th>
            <th scope="col">Tratamiento a seguir</th>
            <th scope="col">Medicacion</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tratamiento of tratamientos; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ tratamiento.idTratamiento }} </td>
            <td>{{ tratamiento.identificacionPaciente }}</td>
            <td>{{tratamiento.identificacionPsicologo }}</td>
            <td>{{ tratamiento.tratamientoPaso }}</td>
            <td>{{ tratamiento.medicacion }}</td>
        </tr> 
    </tbody>
</table>
