<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <section class="form-empleados">
                
                <h2>Apartar Cita</h2>
                
                <div class="form-group">
                  
                    <input type="text" name="identificacion" placeholder="Identifiacion del Paciente" [(ngModel)]="cita.idPaciente"
                        class="form-control" /> 
                </div>
                
                <div class="form-group">  
                    <label>Seleccione el Tipo de cita</label>                
                    <select type="text" name="tipoCita"  [(ngModel)]="cita.tiposSolicitud" class="form-control">
                      <option>Terapia psicoanalítica</option>  
                      <option>Terapia cognitivo-conductual</option>  
                      <option>Terapia sistémica breve</option>  
                      <option>Terapia neuropsicológica</option>  
                      <option>Terapia Gestalt</option>  
                      <option>Terapia racional emotiva racional (TREC)</option>  
                      <option>Terapia cognitiva</option>  
                      <option>Terapia Breve Centrada en Soluciones</option>  
                      <option>Terapia Counseling</option>  
                    </select>
                </div>
                <div class="form-group">
                    <span>Fecha deseada de la cita:</span>
                    <input type="date" name="fecha" [(ngModel)]="cita.fechaDeseada" class="form-control" />
                </div>
           
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Enviar</button>
                </div>
            </section>
        </div>
    </div>
</div>