<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <section class="form-empleados">
                
                <h2>Agendar Cita Paciente</h2>
                
                <div class="form-group">
                   
                    <input type="text" name="identificacion" placeholder="Identifiacion del Paciente" [(ngModel)]="cita.idPaciente"
                        class="form-control" /> 
                </div>
               
                <div class="form-group">
                    <span>Fecha de la cita:</span>
                    <input type="date" name="fecha" [(ngModel)]="cita.fechaDeseada" class="form-control" (click)="verificando()"/>
                </div>
                
                <div class="form-group">
                    <span>Hora de la cita:</span>
                    <select type="text" name="horaCita" [(ngModel)]="cita.horaCita" class="form-control" (click)="verificandoNombre() ">
                        <option [value]="agenda" *ngFor="let agenda of agendaHora"> 
                            {{agenda}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Nombre Piscologo</span>
                    <select type="text" name="nombre" [(ngModel)]="cita.nombre" class="form-control" >
                        <option [value]="agendaNombrePsicologo" *ngFor="let agenda of agendaNombrePsicologo"> 
                            {{agenda}}
                        </option>
                    </select>
                    
                </div>
               
               
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="Agenda()">Ver Agenda Paciente</button>
                    <button class="btn btn-primary mr-1" (click)="add()">Enviar</button>
                </div>
            </section>
        </div>
    </div>
</div>