<div class="consulta">
    <div class="row">
        <div class="col-6">
            <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Buscar por id">
        </div>
    </div>
    <hr>

    <table class="table table-striped" *ngIf='citas && citas.length'>
        <thead>
            <tr>
                <th scope="col">#</th>
                
                <th scope="col">Id Paciente</th>
                <th scope="col">Fecha de cita</th>
                <th scope="col">Hora cita</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cita of citas|filtroCita:searchText; index as i ">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cita.idPaciente }} </td>
                <td>{{cita.fechaDeseada }}</td>
                <td>{{cita.horaCita }}</td>
            </tr>
        </tbody>
    </table>
</div>