<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                <section class="Form-Evaluacion">
                        <section class="Form-Evaluacionp1">
                            <h2>Evaluacion o Valoracion</h2>
                            <div class="form-group">
                            <SPan>Fecha:</SPan>
                                <input  type="date" name="fecha"  [(ngModel)]="evaluacion.fecha"
                                    class="form-control"  />
                            </div>
                    
                            <div class="form-group">
                            
                                <input type="text" name="identifiacionPaciente" placeholder=" Identificacion del Paciente" [(ngModel)]="evaluacion.identificacionPaciente" class="form-control" />
                            </div>
                            <div class="form-group">
                            
                                <input  type="text" name="identificacionPsicologo" placeholder=" identificacion del Psicologo" [(ngModel)]="evaluacion.identificacionPsicologo"
                                    class="form-control"  />
                            </div>                                       
                            <div class="form-groupa">
                                <span>Diagnostico</span>
                                <textarea name="conceptoFinal" placeholder=" Concepto Final Psicologo" [(ngModel)]="evaluacion.diagnostico" class="form-control"></textarea>
                            </div>                                                      
                     </section>
                            
                            <div style="float: right;">

                                <button class="btn btn-primary mr-1" (click)="Siguiente()">Siguiente</button>
                              
                            </div>
                 </section>
        </div>
    </div>
</div>
                            
                
    