<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <section class="form-empleados">
                <h2>Registro de Empleados</h2>
                <div class="form-group">
                  
                    <input type="text" name="identificacion" placeholder="Identifiacion" [(ngModel)]="empleado.identificacion"
                        class="form-control" />
                </div>
                <div class="form-group">
                  
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="empleado.nombre" class="form-control" />
                </div>
                <div class="form-group">
               
                    <input type="text" name="sexo" placeholder="Sexo" [(ngModel)]="empleado.sexo" class="form-control" />
                </div>
                <div class="form-group">
                 
                    <input type="number" name="edad" placeholder="Edad" [(ngModel)]="empleado.edad" class="form-control" />
                </div>
                <div class="form-group">
                   
                    <input type="number" name="telefono" placeholder="Telefono" [(ngModel)]="empleado.telefono" class="form-control" />
                </div>
                <div class="form-group">
                 
                    <input type="text" name="direccion" placeholder="Direccion" [(ngModel)]="empleado.direccion" class="form-control" />
                </div>
              
                <div class="form-group">
                  
                    <input type="text" name="nombreEps" placeholder="Universidad de egreso" [(ngModel)]="empleado.Universidad" class="form-control" />
                </div>
                <div class="form-group">
                   
                    <input type="text" name="nombreEps" placeholder="Año de finalizacion de estudios" [(ngModel)]="empleado.fechaFinalizacion" class="form-control" />
                </div>
                <div class="form-group">
                    
                    <input type="text" name="nombreEps" placeholder="Area" [(ngModel)]="empleado.areaEspecializada" class="form-control"/> 
                     
                </div>
                <div class="form-group">
                    
                    <input type="text" name="nombreEps" placeholder="Meses de experiencia" [(ngModel)]="empleado.mesesExperiencia" class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Register</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </section>
        </div>
    </div>
</div>