<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
           
            <section class="Form-pacientes">
                <h2>Registro de Pacientes</h2>
                <div class="form-group">
                   
                    <input  type="text" name="identificacion" placeholder=" Identificacion" [(ngModel)]="persona.identificacion"
                        class="form-control"  />
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder=" Nombre" [(ngModel)]="persona.nombre" class="form-control" />
                </div>
                <div class="form-group">
         
                    <input type="text" name="sexo" placeholder=" Sexo" [(ngModel)]="persona.sexo" class="form-control" />
                </div>
                <div class="form-group">
                   
                    <input type="number" name="edad" placeholder=" Edad" [(ngModel)]="persona.edad" class="form-control" />
                </div>
                <div class="form-group">
                  
                    <input type="number" name="telefono" placeholder=" Telefono" [(ngModel)]="persona.telefono" class="form-control" />
                </div>
                <div class="form-group">
                
                    <input type="text" name="direccion" placeholder=" Direccion" [(ngModel)]="persona.direccion" class="form-control" />
                </div>
                <div class="form-group">
                
                    <input type="text" name="direccion" placeholder=" Correo" [(ngModel)]="persona.Correo" class="form-control" />
                </div>
                <div class="form-group">
                   
                    <input type="text" name="nombreEps" placeholder=" Nombre Eps" [(ngModel)]="persona.nombreEps" class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Register</button>
                
                </div>
            </section>
        </div>
    </div>
</div>