body{
    height: 650px;
    width: 100%;
}
.iniciar-sesion{
    width: 76%;
    height: 90%;
    margin-left: 12%;
    margin-top: 5%;
    text-align: center;
}


h1{
    padding-bottom: 20px;
}

p{
    padding-top: 5px;
}

.contenedor-formulario{
    position: relative;
    float: left;
    width: 35%;
    height: 100%;
    padding-bottom: 500px;
}

.Fondo-login{
    float: left;
    width: 65%;
    height: 100%;
    background-image: url(/assets/psicologos.jpg);
    background-size: cover;
}
