<body>

    <div class="contenedor-formulario">
        <div class="iniciar-sesion">

            <div class="container">
                <div class="row">

                            <h2>Vitalmente</h2>
                            <div class="form-group">
                                <label>Tipo de Documento</label>                
                                <select type="text" name="tipoDocumento"  [(ngModel)]="persona.tipoDocumento" class="form-control">
                                  <option>Cedula de ciudadania</option> 
                                  <option>Registro civil</option>  
                                  <option>Tarjeta de identidad</option> 
                                  <option>Documento extrangero</option>  
                                </select>
                            </div>
                            <div class="form-group">

                                <input type="text" name="identificacion" placeholder=" Identificacion"
                                    [(ngModel)]="persona.identificacion" class="form-control" />

                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder=" Nombre" [(ngModel)]="persona.nombre"
                                    class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellido" placeholder=" Apellido"
                                    [(ngModel)]="persona.apellido" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Sexo</label>                
                                <select type="text" name="sexo"  [(ngModel)]="persona.sexo" class="form-control">
                                  <option>M</option>  
                                  <option>F</option>   
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Fecha de Nacimiento</label>
                                 <input type="date" name="edad"  [(ngModel)]="persona.fechaNacimiento" class="form-control" />
                             </div>
                            <div class="form-group">

                                <input type="text" name="telefono" placeholder=" Telefono"
                                    [(ngModel)]="persona.telefono" class="form-control" />
                            </div>
                            <div class="form-group">

                                <input type="text" name="direccion" placeholder=" Direccion"
                                    [(ngModel)]="persona.direccion" class="form-control" />
                            </div>
                            <div class="form-group">

                                <input type="text" name="correo" placeholder=" Correo" [(ngModel)]="persona.Correo"
                                    class="form-control" />
                            </div>
                            <div class="form-group">

                                <input type="text" name="nombreEps" placeholder=" Nombre Eps" [(ngModel)]="persona.eps"
                                    class="form-control" />
                            </div>
                            <p>¿Ya tiene cuenta de paciente? <a [routerLink]='["/login"]'>Inicia Sesión</a></p>

                            <div class="text-center">
                                <button class="btn btn-primary mr-1" (click)="add()">Registrate</button>
                            </div>
                    
                </div>
            </div>



        </div>

    </div>
        <div class="Fondo-login">

        </div>

    
</body>