<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <section class="form-tratamiento">
                <h2>Tratamiento</h2>
                
                <div>
                    <input type="text" name="identificacionPaciente" placeholder="identificacion del paciente" 
                    [(ngModel)]="tratamiento.identificacionPaciente" class="form-control" />
                </div>
                
                <div style="float: right;">
                    <button class="btn btn-primary mr-1" (click)="add()">Registrar</button>
                </div>

            </section>
        </div>
    </div>
</div>