<div class="contendor-footer">
        <hr>
        <div class="contenedor_derecho">
                <h2><img src="../../assets/brain (3).png" alt="icono">VitalMente</h2>
                <p>Es un lugar donde los pacientes de nuestro consultorio psicologico puedan registrarse y registrar las
                citas y el horario que mejor les convenga, y tambien puedan consultar el diagnostico de su cita.
                </p>
        </div>

        <div class="contenedor_Izquierdo">

                <p>Redes Sociales</p>
                <div class="arriba">
                        <a class="" href="#"><img src="../../assets/facebook (1).png"> Facebook</a>
                        <a class="" href="#"><img src="../../assets/twitter.png"> Twitter</a>
                </div>
                <div class="abajo">
                        <a class="" href="#"><img src="../../assets/instagram.png"> Instagram</a>
                        <a class="" href="#"><img src="../../assets/whatsapp.png"> Whatsapp</a>
                </div>  
                        
        </div>
        
        <div class="contenedor_Abajo">
                <hr>
                <p>Todos los derechos reservados Camilo Brito y Andres Yaruro &copy; 2021 </p>
        </div>
</div>