<div class="contendor-footer">
        <hr>
        <div class="contenedor_derecho">
                <h2>Psicotec</h2>
                <p>Es un lugar donde los pacientes de nuestro consultorio psicologico puedan registrarse y
                   solicitar citas
                </p>
        </div>

        <div class="contenedor_Izquierdo">

                <p>Redes Sociales</p>
                <div class="arriba">
                        <a class="" href="#"><img src="../../assets/facebook (1).png"> Facebook</a>
                        <a class="" href="#"><img src="../../assets/twitter.png"> Twitter</a>
                </div>
                <div class="abajo">
                        <a class="" href="#"><img src="../../assets/instagram.png"> Instagram</a>
                        <a class="" href="#"><img src="../../assets/whatsapp.png"> Whatsapp</a>
                </div>  
                        
        </div>
        
        <div class="contenedor_Abajo">
                <hr>
                <p>Todos los derechos reservados Alberto Ruiz y Ricardo Daza &copy; 2022 </p>
        </div>
</div>