<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 255, 255)">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/menuEmpleado/Realizarevaluacion']">Realizar Evaluacion</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/menuEmpleado/Registrartratamiento']">Recetar Tratamiento</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/menuEmpleado/RegistrarhistoriaClinica']">Realizar Historia clinica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Consultar Hisotiras Clinicas</a>
          </li>
            
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["/login"]'>Salir</a>
          </li>
        </ul>
        <form class="d-flex">
          <p>Nombre de Usuario</p>
        </form>
      </div>
    </div>
  </nav>
  <hr>
<body>
  <router-outlet></router-outlet>
</body>



  
  
  