<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2e859f;">

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Opciones de Registro
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/RegistrarAgenda']">Realizar Agenda</a></li>
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/Realizarevaluacion']">Registrar Evaluacion</a>
            </li>
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/RegistrarTratamiento']">Registrar Tratamiento</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Opciones de Consulta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/ConsultarAgenda']">Consultar Agenda</a></li>
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/ConsultarEvaluacion']">Consultar Evaluacion</a></li>
            <li><a class="dropdown-item" [routerLink]="['/menuEmpleado/ConsultarTratamiento']">Consultar Tratamiento</a></li>

          </ul>

        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]='["/login"]' (click)="logout()">Salir</a>
        </li>
                 
      </ul>
      <form class="d-flex">
        <a class="navbar-brand" href="#"><img src="../../assets/brain (3).png" alt="icono">Psicotec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="Contenedor-body">
  <hr>

  <body>
    <router-outlet></router-outlet>
  </body>
</div>